<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Inscription</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/myStyle.css" />
</head>
<body ng-app="myApp" ng-controller="InscriptionController">
	<div class="col-md-6 col-sm-6 col-xs-12 spacer">
		<div class="panel panel-info">
			<div class="panel-heading">Inscription d'un étudiant</div>
			<div class="panel-body">
				<div ng-if="mode.value=='form'">
				<form>
					<div class="form-group">
						<label class="control-label">Nom:</label>
						<input class="form-control" type="text" ng-model="etudiant.nom">
						<span ng-if="errors" class="error">{{errors.nom}}</span>
					</div>
					<div class="form-group">
						<label class="control-label">Prénom:</label>
						<input class="form-control" type="text" ng-model="etudiant.prenom">
						<span ng-if="errors" class="error">{{errors.prenom}}</span>
					</div>
					<div class="form-group">
						<label class="control-label">Date Naissance:</label>
						<input class="form-control" type="date" ng-model="etudiant.dateNaissance" ng-da >
						<span ng-if="errors" class="error">{{errors.dateNaissance}}</span>
					</div>
					<div>
						<button class="btn btn-primary" ng-click="saveEtudiant()">Save</button>
					</div>
				</form>			
				</div>
				<div ng-if="mode.value=='confirm'">
					<div class="panel-heading">Confirmation : l'étudiant a été inscrit avec succès</div>
					<div class="form-group">
						<label class="control-label">ID:</label>
						<label class="control-label">{{etudiant.idEtudiant}}</label>
					</div>
					<div class="form-group">
						<label class="control-label">Nom:</label>
						<label class="control-label">{{etudiant.nom}}</label>
					</div>
					<div class="form-group">
						<label class="control-label">Prénom:</label>
						<label class="control-label">{{etudiant.prenom}}</label>
					</div>
					<div class="form-group">
						<label class="control-label">Date Naissance:</label>
						<label class="control-label">{{etudiant.dateNaissance|date:'yyyy-MM-dd'}}</label>
					</div>
				</div>
				<div ng-if="exception.message">
					<span class="error">{{exception.message}}</span>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/myApp.js"></script>
</body>
</html>